body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}

@media (min-width: 1200.1px) {
  body {
    margin-left: 170px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;

  color: black;
}

.header {
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
 
  z-index: 100;

  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
}

.left-session {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middel-session {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 500px;
  margin-left: 70px;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  box-sizing: border-box;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;

  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box;

}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  bottom: -40px;

  background-color: gray;
  color: white;
  font-size: 11px;
  padding: 7px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;

  pointer-events: none;

  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  width: 24px;
}

.voice-search-button {
  width: 40px;
  height: 40px;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.voice-search-icon {
  height: 24x;
  width: 24px;
}

.right-session {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 29px;
  margin-right: 24px;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtube-app-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-count {
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  margin: 1px;
}

.notifications-icon {
  height: 24px;
}

.user-picture {
  height: 32px;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  background-color: white;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  z-index: 200;
  padding-top: 4px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.15s;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link:active {
  background-color: grey;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link p {
  font-size: 10px;
}

/*Reponsive for Sidebar*/
@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    background-color: white;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    z-index: 200;
    padding-top: 4px;
  }

  .sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link:active {
    background-color: grey;
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 6px;
  }

  .sidebar-link p {
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 180px;
    z-index: 200;
    padding-top: 13px;
    padding-left: 40px;
  }

  .sidebar-link {
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    height: 50px;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link:active {
    background-color: grey;
  }

  .sidebar-link img {
    height: 24px;
    margin-right: 24px;
  }

  .sidebar-link p {
    font-size: 14px;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;

  row-gap: 40px;
}


@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnails-row {
  margin-bottom: 8px;
  position: relative;
}

.thumbnails {
  width: 100%;
}

.video-title {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .video-title {
    font-size: 14px;
    line-height: 20px;
  }

  .video-author,
  .video-stats,
  .video-time {
    font-size: 12px;
  }
}

@media (min-width: 1000.1px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats,
  .video-time {
    font-size: 14px;
  }
}

.video-author,
.video-stats {
  display: block;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  vertical-align: top;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.chanel-tooltip {
  position: absolute;
  background-color: white;
  display: flex;

  width: 100px;
}